h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
  }

  li {
    background-color: orange;
    font-style: italic;
    line-height: 8mm;
  }

  .nova-cor {
    background-color: rgb(8, 121, 187);
  }

  p {
    font-weight: 16;
    font-size: 3em;
  }

  body {
    font-size: 16px;
  }

  #primeira-cor {
    background-color: yellow;
  }

  #segunda-cor {
    background-color: red;
  }

  #terceira-cor {
    background-color: brown;
  }